:root{
    --tag-height: 22px;
    --detail-color: 30px;
    --how-height: 35px;
    --add-cart-height: 45px;
    --size-height: 35px;
}
.detailInfo__container{
    margin: 0 auto;
    width: 95%;
    padding: 10% 0;
    font-family: 'Raleway', sans-serif;
}
.details__img-addcart-tag{
    height: var(--tag-height);
    line-height: var(--tag-height);
    background-color: black;
    display: block;
    width: 10%;
    color: white;
    text-align: center;
    margin: 8px 0;
}
.detainInfo__container-item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid gray;
    margin-bottom: 8px;
}
.container__item-name{
    font-size: 18px;
    letter-spacing: 3px;
}
.container__item-price{
    font-size: 18px;
    font-weight: 400;
}
.detailInfo__colorSizeHow{
    display: flex;
    justify-content: space-between;
}
.detailInfo__colorSizeHow>div{
    margin: 4% 0;
}
.detailInfo__colorSizeHow-color{
    flex: 0.8;
}
.detailInfo__colorSizeHow-color>div{
    margin: 4px;
    height: var(--detail-color);
    width: var(--detail-color);
    border: 1px solid black;
    border-radius: 50%;
}
.detailInfo__colorSizeHow-size{
    flex: 2;
}
.detailInfo__colorSizeHow-how{
    flex: 1;
    height: var(--how-height);
    line-height: var(--how-height);
    text-align: center;
    border: 1px solid #273751;
    font-size: 15px;
    border-radius: 3px;
    transition: all ease-in-out 0.2s;
}
.detailInfo__colorSizeHow-how:hover{
    cursor: pointer;
    color: white;
    background-color: #273751;
}
.detail__container-addcart{
    display: block;
    width: 100%;
}
.detail__container-addcart>button{
    display: block;
    width: 100%;
    height: var(--add-cart-height);
    line-height: var(--add-cart-height);
    background-color: #00081B;
    color: #b1a064;
    transition: all ease-in-out 0.3s;
    border-radius: 3px;
}
.detail__container-addcart>button:hover{
    cursor: pointer;
    background-color: #273751;
}
.detail__container-service{
    margin: 3% 0;
}
.detail__container-service>ul{
   display: block;
}
.detail__container-service>ul>li{
    margin: 5px 0;
    display: block;
}
.size__list{
    display: flex;
    flex-wrap: wrap;
}
.size__item{
    margin: 4px;
    width: 20%;
    border: 1px solid black;
    text-align: center;
    height: var(--size-height);
    line-height: var(--size-height);
    transition: all ease-in-out 0.3ms;
}
.size__item:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}
.size__item-label:hover{
    cursor: pointer;
}
.size__item.active{
    background-color: black;
    color: white;
}
/* Mobile Tablet */
@media (max-width: 1023px) {
    .detailInfo__colorSizeHow{
        display: block;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    
}

/* Mobile */
@media (max-width: 739px) {
   
}